/* styles.css 

/* ligne de séparation */
.my_custom_hr {
    border-top: 2px solid #C65977;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

}

.my_custom_hr::before {
    content: '';
    position: absolute;
    left: 0;
    width: 98%;
    height: 5px;
    border-top: 5px solid #C65911;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    top: -8px;
}

.explain_shap {
    /*background-color: rgb(96, 242, 152); */
}

/* Titre de page principal */
.custom-title {
    background-color: #C65911;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    text-align: center;
    color: #FFFFFF;  /* Laurent */
    text-decoration: underline; /* Laurent */
}

/* Sous titre page conclusion*/
.titre-h3 {
    color: #C65911;
    text-decoration: underline;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
}

/* Sous titre page modélisation*/
.type-de-variables {
    /* color: #C65911; laurent*/
    color: #ffffff;
    background-color: transparent;
    text-decoration: underline;
    
    /* Add more styles as needed */
}

/* css créer par laurant */
/* des mots en gras */
.orange-bold { 
    color: #EA6B14; 
    font-weight: bold; 
}

/* gestion de la page texte centrale */
.st-emotion-cache-gh2jqd {
    /* width: 100%;
    padding: 6% 20% 20%;
    max-width: 120rem; */
    background-color: #FEF8F4;
    /*border: 2px solid #C65911; */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2)
}

/* gestion de la page totale */
.st-emotion-cache-uf99v8 {
    background-color: #FEF8F4;
}

/* gestion de la page de gauche */
.st-emotion-cache-6qob1r {
    background-color: rgb(220, 197, 182);
}

/* gestion des boutons page de gauche */
.st-emotion-cache-18l0hbk {
    /*gap: 1.5rem; */
    margin-top: 0.6rem ;
    background-color: rgb(198, 89, 17, 0.4);
}


/*bouton de pages au survol*/
.st-emotion-cache-7ym5gk:hover {
    background-color: rgb(211,155,126);
    color: white;
    border-radius: 10px;
}

/*bouton de pages*/
.st-emotion-cache-7ym5gk {
    border: 2px solid rgb(211,155,126);
    margin-top: 5px;
}


/*fond d'écran des expander*/
.st-emotion-cache-1h9usn1 {
    background-color: rgb(247, 199, 172);
    margin-top: 5px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2); /* Décalage vertical de 5px pour éviter l'ombre en haut */
}

/*selectbox liste déroulante*/
[data-baseweb="select"] {
    margin-top: 5px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2); /* Décalage vertical de 5px pour éviter l'ombre en haut */
}
/*selectbox liste déroulante*/
.st-c7.st-c8.st-c9.st-ca.st-av.st-br.st-c6.st-af.st-cb.st-cc.st-b0.st-b1.st-b2.st-b3.st-aw.st-ax.st-ay.st-az.st-cd.st-ao.st-ap.st-bw.st-ce.st-cf.st-cg.st-ch.st-ci {
    background-color: rgb(241, 169, 131);
}


/*fond d'écran des selectbox à coher*/
.st-b7{
    background-color: rgb(241, 169, 131);
}

/*coulleur du texte*/
.st-emotion-cache-1r4qj8v{
    color:#0b0808
}
/* fond d'écran des graphiques*/
[data-testid="stFullScreenFrame"] {
    /* Vos styles CSS ici */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre avec un léger flou */
    background-color: rgb(247, 199, 172); /*vient du fichier laurent*/
    border-radius: 20px; /*vient du fichier laurent*/

}

/* autres test variables vs variables */
.variables_autres_tests{
    background-color: #ffffff;
    padding: 8px;
    border-radius: 5px;
}


.tests_autres_tests{
    text-decoration: underline;
    text-decoration-color: rgb(252, 252, 252);
    text-decoration-thickness: 4px;  /* Augmentez cette valeur pour une ligne plus épaisse */
    text-underline-offset: 3px;  /* Augmentez cette valeur pour plus d'espace entre le mot et le trait */
        
}
